header {
color: white;
font-size: 30px;
font-style: italic;
font-family: 'Lucida Sans';
}
    
.title {
color: black;
font-style: italic;
font: lucida; 
}
    
body {
background-color:   #ffcccc;
background-image: url('./Matrix.jpg');
background-repeat: no-repeat;
background-size: 100%;
text-align: center;
width: auto;
height: auto;
}

#show-msg{
    color: pink;
}
.result {
    font-style: lucida;
}

.label {
    color: white;
    font-size: 20px;
    font-family: 'Lucida', 'Lucida sans' ;
    margin-right: auto;
    padding-right: 1px; /* entender melhor esse atributo */

}

textarea{
    width: 30em;
    height: 5em;
}

input{
    width: 10em;
    height: 2em;
}